APP_BASE_URL=http://localhost:8501
FASTAPI_API_URL=http://localhost:8000
API_KEY=your_secure_random_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL_NAME=x-ai/grok-4-fast:free
MINIO_ENDPOINT=your_minio_ip:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET_NAME=split-bill
MINIO_USE_SSL=False
