streamlit
pandas
google-generativeai
Pillow
python-dotenv
minio
fastapi
uvicorn
requests
python-multipart
charset_normalizer
chardet
pycryptodomex # Changed from pycryptodome to pycryptodomex
cryptography # Added for general crypto needs
